@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --color-primary: hsl(180, 29%, 50%);
  /* ### Neutral */
  /* (Background) */
  --color-primary-light-1: hsl(180, 52%, 96%);
  /* (Filter Tablets) */
  --color-primary-light-2: hsl(180, 31%, 95%);
  --color-primary-dark-1: hsl(180, 8%, 52%);
  --color-primary-dark-2: hsl(180, 14%, 20%);

  --fs-400: 1.7rem;
  --fs-300: 1.4rem;
  --fs-200: 1.2rem;
  --fs-100: 1.1rem;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
}
.app {
  min-height: 100vh;
  margin: 0;
  position: relative;
}
.bg {
  position: absolute;
  background-image: url("./images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 1;
}

/* COLORS Classes */
.text-primary {
  color: var(--color-primary);
}
.text-light-1 {
  color: var(--color-primary-light-1);
}
.text-light-2 {
  color: var(--color-primary-light-2);
}
.text-dark-1 {
  color: var(--color-primary-dark-1);
}
.text-dark-2 {
  color: var(--color-primary-dark-2);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-light-1 {
  background-color: var(--color-primary-light-1);
}
.bg-light-2 {
  background-color: var(--color-primary-light-2);
}
.bg-dark-1 {
  background-color: var(--color-primary-dark-1);
}
.bg-dark-2 {
  background-color: var(--color-primary-dark-2);
}
.bg-white {
  background-color: #fff;
}

/* FONT SIZES Classes */

.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

/* Utilies Classes */
.fw-b {
  font-weight: 700;
}
.fw-l {
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  display: flex;
  gap: var(--gap, 2rem);
}
.flex-c {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
}

.btn {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
}

@media screen and (min-width: 800px) {
  .bg {
    background-image: url("./images/bg-header-desktop.svg");
  }
}
